{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2>Upload Report</h2>
     <form method="POST">

        <label>Scanning Target</label>
        <input type="text" name="target" placeholder="192.168.1.1 or 192.168.1.0/24" required>

        <label>Filename</label>
        <select name="type">
            <option value="network">Network Scan (discovery)</option>
            <option value="host">Host Scan (Ports and Services)</option>
        </select>

        <button type="submit">Start Scan</button>
     </form>
</div>
{% endblock %}
